{
  "presets": ["env", "react"],
  "plugins": ["transform-class-properties"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["gokuai-components"],
          "alias": {
            "gokuai-components/src": "gokuai-components/lib"
          }
        }]
      ]
    }
  }
}